[contenteditable=true]:empty:before {
	content: attr(placeholder);
	display: block;
	/* For Firefox */
}

@font-face {
	font-family: droid;
	src: url(DroidSerif.ttf);
}

#idd {
	margin-top: 20px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	font-family: inherit;
	font-family: droid;
	min-height:200px; outline:0px;
	border: none;
	font-size: inherit;
	display: block;
	resize: none;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}

#name {
	margin: auto;
	margin-top: 0px;
	font-family: droid;
	font-size: 48px;
	font-weight: 590;
	text-align: center;
	color: #34495E;
}

#other {
	margin: auto;
	font-family: droid;
	font-size: 30px;
	font-weight: 390;
	text-align: center;
	color: #34495E;
}



#state {
	font-family: droid;
	font-size: 15px;
	font-weight: 500;
	bottom: 30px;
	color: #34495E;
	position: fixed;
}
#save {
	font-family: droid;
	font-size: 15px;
	font-weight: 500;
	bottom: 30px;
	right: 10px;
	color: #34495E;
	position: fixed;
	border-right: 2px solid #34495E;
	padding: 3px 3px;
	display: none;
	cursor: pointer;
}

notif {
	border-left: 2px solid #34495E;
	padding: 3px 3px;
}

